
$color-primary: #ff6600;//#18c79c
$color-primary-second: #f89f23;
$color-primary-back: rgba(255, 102, 0, 0.1);
$color-primary-border: rgba(255, 102, 0, 0.2);


$color-font-first: #303133; //1级文字
$color-font-second: #606266; //2级文字
$color-font-third: #909399; //3级文字
$color-font-fourth: #C0C4CC;  //4级文字
// 
$color-back-first: #e4e4e4; //1级背景色
$color-back-second: #ededed; //2级背景色
$color-back-third: #f5f4f4; //3级背景色
$color-back-fourth: #fcfcfc;  //4级背景色